POSTGRES_DB=kanta_kanban
POSTGRES_USER=kanta
POSTGRES_PASSWORD=kanta
POSTGRES_PORT=5432
KAFKA_PORT=9092

DB_URL=jdbc:postgresql://localhost:5432/kanta_kanban
DB_USERNAME=kanta
DB_PASSWORD=kanta
SERVER_PORT=8081

KAFKA_BOOTSTRAP_SERVERS=localhost:${KAFKA_PORT}
KAFKA_CONSUMER_GROUP_ID=service-kanban
KAFKA_TOPIC_CARD_EVENTS=card.events
KAFKA_TOPIC_MEMBER_UPDATED=member.updated
OUTBOX_PUBLISHER_ENABLED=true
OUTBOX_POLL_SIZE=50
OUTBOX_POLL_DELAY_MS=5000
